@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/*Cores*/
:root {
    --cor-de-fundo: #000912;
    --barra-de-navegação: #00060b;
    --cor-para-fontes: #78A3A1;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-de-fundo);
}

/*Inicio da navegação*/
nav {
    position: fixed;
    z-index: 999;
    background-color: #00060bb7;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.61);
    transition: all 0.3s ease;
}

nav:hover {
    background-color: var(--barra-de-navegação);
}

header nav ul {
    display: flex;
    flex-direction: row;
}

header nav ul li {
    margin-left: 2%;
    list-style-type: none;
}

header nav ul a {
    text-decoration: none;
    color: var(--cor-para-fontes);
    font-family: 'Poppins';
    transition: all 0.3s ease;
}

header nav ul a:hover {
    color: #b7f5f2;
}
/*Fim da navegação*/

/*Inicio de home*/

.Home {
    background-image: url('../img/banner.jpg');
    box-shadow: inset 0 0 30px rgb(0, 0, 0);
}

.Main {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100vh;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    color: #a3d6d4;
}

.Titulo-home {
    font-family: 'Poppins';
    margin-bottom: 4%;
}

#portrait1 {
    max-width: 70%;
    height: auto;
    min-width: 28%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: pulo 1s ease-in-out infinite;
}

#sub-titulo {
    font-size: 1.5em;
}

#titulo {
    font-size: 3em;
}

#descricao {
    font-size: 1em;
    width: 80%;
    font-family: 'Poppins';
}

/*Animação para o portrait*/
@keyframes pulo {
    0% {top: 30px;}
    50% {top: 50px;}
    100% {top: 30px}
}

/*Fim de home*/

/*Inicio de Sobre mim*/

.Sobre-mim {
    width: 100%;
    height: 100vh;
    padding-top: 5%;
    background-image: linear-gradient(to bottom, #000c18, #000409);
}

#Sobre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    padding: 5%;
}

#Sobre-artigo {
    font-family: 'Poppins';
    color: #85a09f;
    margin-left: 3%;
}

#Sobre-titulo {
    font-size: 3em;
    color: #bbe3e2;
    padding-bottom: 3%;
    text-align: center;
}

#Sobre-p {
    font-size: 1.2em;
    text-align: center;
    width: 80%;
    margin: 0px auto;
}

#Sobre-btn {
    text-align: center;
    padding: 4%;
    border-radius: 40px;
    border: none;
    background: linear-gradient(to right, #0b012d, #11017f);
    color: #bbe3e2;
    margin: 4%;
    font-size: 1.2em;
    transition: all 0.1s ease-in-out;
}

#Sobre-btn:hover {
    animation: pulse .4s ease-in-out infinite alternate;
    cursor: pointer;
    background: linear-gradient(to right, #1b036b, #1e02cd);
}

#Sobre-btn:active {
    color: #000409;
}

/*Animação do botão*/
@keyframes pulse {
    from {
      transform: scale(1); /* define a escala original do botão */
    }
  
    to {
      transform: scale(1.1); /* define a escala do botão quando o mouse estiver sobre ele */
    }
}

#portrait2 {
    max-width: 70%;
    height: auto;
    min-width: 28%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*Fim de Sobre mim*/